body {
  background-color: #fb8500;
  font-family: "Montserrat", sans-serif;
}

#canvas {
  width: 600px;
  background-color:#ffff ;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 60%;
  left: 50%;
  border-radius: 16px;
}

label {
 display: flex;
 justify-content: center;
 margin-top: 16px;
 
}

input[type="color"]{
 
 
  background-color: transparent;
  width: 65px;
  height: 50px;
  border: none;
  margin-left: 268px;
  cursor: pointer;
  

}
input[type="color"]::-webkit-color-swatch{
  border-radius: 8px;
   cursor: pointer;
  border: none;
   
}

button,
a {
  font-size: 12px;
  padding: 12px 16px;
  border-radius: 8px;
  background-color: #ffffff;
  border: 1px solid  #edede9;
  color: #020125;
  overflow: none;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

#gridContainer{
  margin: 32px auto;
  width: 100%;
  place-items: center;

}

td {
  width:20px;
  height: 20px;
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
  align-content: center;
  cursor: pointer;
}
form {
    display: flex;
    justify-content: center;

}

input[type=text], input[type=password] {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    border:none;
    border-radius: 8px;
    color: #020125;
     font-size: 12px;
    
    
}
input[type="submit"] {
  font-size: 12px;
  padding: 12px 16px;
  border-radius: 8px;
  background-color: #ffffff;
  border: 1px solid #edede9;
  font-family: "Montserrat", sans-serif;
}
